Repository ao6g4ru042k7/cra-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: eslint simple import
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  src/apis/example/index.ts
  src/containers/App/index.tsx
  src/containers/Layout/index.tsx
  src/index.tsx
  src/locales/i18n.ts
  src/locales/resources.ts
  src/store/hook.ts
  src/store/index.ts
  src/store/slice/errorSlice.ts
  src/store/slice/exampleSlice.ts
  src/store/slice/persistedSlice.ts
  src/views/Dashboard/dataSlice.ts
  src/views/Dashboard/index.test.tsx
  src/views/Dashboard/index.tsx
Due: eslint --fix, prettier --write

feat: eslint update
  .eslintrc.json
  package-lock.json
  package.json
  src/locales/resources.ts
  src/store/slice/postsSlice.ts
Due: eslint --fix, prettier --write

feat: .czrc
  .czrc
  package.json
Due: prettier --write

docs: package name
  package.json
Due: prettier --write

docs: git flow
  .github/workflows/github-actions-demo.yml
Due: none

test: fix test
  package.json
  src/views/Dashboard/index.tsx
Due: eslint --fix, prettier --write

fix: fix eslint rule
  .eslintrc.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
